* {
  transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out; }

.question, .apply {
  text-align: center;
  padding: 1em; }
  .question a, .apply a {
    display: block;
    margin: 0 auto 8px; }
    .question a:hover, .apply a:hover {
      text-decoration: none; }
