* {
  transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out; }

body {
  padding: 0; }

.questions, .apply {
  text-align: center;
  padding: 1em; }

.question ul {
  text-align: left; }

.answers a, .apply a {
  display: block;
  margin: 0 auto 8px; }
  .answers a:hover, .apply a:hover {
    text-decoration: none;
    color: white; }
  .answers a:visited, .apply a:visited {
    color: white; }
  .answers a:active, .apply a:active {
    color: white; }

.answer {
  position: relative;
  margin: 0 auto;
  width: 75%; }

.info {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 15%; }
  .info img {
    width: 100%; }
