$color-red :#A52449;

* {transition:color .3s ease-in-out; -webkit-transition:color .3s ease-in-out; -moz-transition:color .3s ease-in-out;}

.question, .apply{
  text-align: center;
  padding:1em;
  a{
    display:block;
    margin:0 auto 8px;
    &:hover{
      text-decoration: none;
    }
  }
}