$color-red :#A52449;
$color-white:#ffffff;

* {transition:color .3s ease-in-out; -webkit-transition:color .3s ease-in-out; -moz-transition:color .3s ease-in-out;}

.questions{
  text-align: center;
  padding:1em;
}

.answers, .apply{
  a{
    display:block;
    margin:0 auto 8px;
    &:hover{
      text-decoration: none;
      color:$color-white;
    }
    &:visited{
      color:$color-white;
    }
    &:active{
      color:$color-white;
    }
  }
}