$color-red :#A52449;
$color-white:#ffffff;

* {transition:color .3s ease-in-out; -webkit-transition:color .3s ease-in-out; -moz-transition:color .3s ease-in-out;}
body {padding:0;}
.questions, .apply{
  text-align: center;
  padding:1em;
}
.question{
  ul{
    text-align: left;
  }
}

.answers, .apply{
  a{
    display:block;
    margin:0 auto 8px;
    z-index: 9999;
    &:hover{
      text-decoration: none;
      color:$color-white;
    }
    &:visited{
      color:$color-white;
    }
    &:active{
      color:$color-white;
    }
  }
}

.answer{
  position:relative;
  margin:0 auto;
  width:350px;
}
.info{
  width:32px;
  height:32px;
  position: absolute;
  right:0;
  top:15%;
  img{
    width:100%;
  }
}
.tooltip{
  width: 50px;
  position: absolute;
  top: 17.5%;
  right: 0px;
  padding: 4px 0;
  background: rgb(241, 242, 242);
  color: rgb(100, 121, 127);
  cursor: pointer;
  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
  border:1px solid rgb(209, 211, 212);
  border-left:0;
  -webkit-box-shadow:inset 0px 1px 2px rgb(30,30,30);
  -moz-box-shadow:inset 0px 1px 2px rgb(30,30,30);
  box-shadow:inset 0px 1px 2px rgb(30,30,30);
  -webkit-border-top-right-radius:25px;
  -webkit-border-bottom-right-radius:25px;
  -moz-border-top-right-radius:25px;
  -moz-border-bottom-right-radius:25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  &:hover{
    color:rgb(254,254,254);
    width:70px;
    right: -20px;
    background:rgb(100, 121, 127);
    
  }
}